In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split # 切分训练和测试集
from sklearn.metrics import accuracy_score # 计算准确率
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import fetch_openml

In [2]:
# 数据预处理
iris = pd.read_csv('csv/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
x = iris.iloc[:, 0:4]
y = iris.iloc[:, 4:5]
print(x.shape,y.shape)

(150, 4) (150, 1)

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=20,stratify=y)
print(x_train.shape,y_train.shape)

(120, 4) (120, 1)

In [ ]:
def m_distance(a,b):
    return np.sum(np.abs(a-b),axis=1)
def o_distance(a,b):
    return np.sqrt(np.sum((a-b)**2,axis=1))